@import "./vars/vars.scss";
@import "./tasks.scss";
@import "./taskForm.scss";
@import "./breadcrumb.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #32312f;
  font-family: sans-serif;
}

.container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading {
  font-size: 40px;
  text-align: center;
  color: $cream-color;
  margin-bottom: 40px;
}

.create-btn {
  width: 130px;
  text-decoration: none;
  background-color: #ff1046;
  font-weight: medium;
  color: $font-color;
  padding: 12px 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
  margin-top: 5px;
}

.highlight_text {
  font-size: $font-14;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: $red;
}

@media (max-width: 768px) {
  .create-btn {
    float: none;
    width: 100%;
  }
}
