@import "./vars/vars.scss";

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: $background;
  border: $border;
  margin-bottom: 10px;
  border-radius: $border-radius;

  li {
    display: inline;
    font-size: $font-14;
    cursor: pointer;
    color: $font-color;
    + li:before {
      padding: 8px;
      color: $font-color;
      content: "/\00a0";
    }
  }
}
