@import "./vars/vars.scss";

@mixin inputField-select {
  width: 100%;
  padding: 12px;
  border-radius: $border-radius;
  resize: vertical;
}

@mixin col-select {
  float: left;
  margin-top: 6px;
  color: $font-color;
  font-size: $font-14;
}
.form-container {
  border-radius: $border-radius;
  background-color: $background;
  border: $border;
  padding: 20px;

  .row {
    .inputField {
      @include inputField-select;
      border: 1px solid #ccc;
    }
    .errorInputField {
      @include inputField-select;
      border: 1px solid $red;
    }
    .col-25 {
      @include col-select;
      width: 25%;
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
    }
    .col-75 {
      @include col-select;
      width: 75%;
      .errorField {
        color: $red;
      }
    }
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Responsive layout - when the screen is less than 768 wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .form-container .row {
    .col-25,
    .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }
}
