@import "./vars/vars.scss";

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #ee2828;

    tr th {
      font-size: $font-14;
      font-weight: 600;
      letter-spacing: 0.35px;
      color: $font-color;
      opacity: 1;
      padding: 12px;
      vertical-align: top;
      border: $border;
    }
  }

  tbody tr td {
    font-size: $font-14;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: $cream-color;
    padding: 8px;
    text-align: center;
    border: $border;
    background-color: $background;
  }

  tbody tr td .icon {
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: $background;
    font-weight: medium;
    color: $font-color;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 24px;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .table {
    display: block;
    width: 100%;
    thead {
      display: none;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    tr {
      margin-bottom: 15px;
    }

    tbody tr td {
      text-align: center;
      position: relative;
    }
  }
}
